html{
  height: 100%;
}

body{
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 1em;
}

textarea#in, textarea#out{
	display: inline-block;
	width: calc(50% - 1em);
	height: 100%;
	tab-size : 4;
}